body{ background-color: rgb(24, 24, 24)
}

h1{color: rgb(216, 91, 173) ;
background-color: rgb(254, 5, 167, 0.568) ;
text-align: center;
width: 350px;
padding: 15px 0;
margin: 35px 0;
font-size: 35px;
font-family: Arial;
border-bottom: 6px dashed rgb(174, 76, 135);
border-left: 6px dashed rgb(174, 76, 135);
border-radius: 10px 50px ;
display: inline-block;
}

img{
height:150;    



}
